<!-- <h1>{{title}}</h1>
    <h2>My customers</h2>
 
   <h3>Customer Details</h3>
		<table>
			  <tr><th> Id</th> <th>Name</th><th>Phone</th><th>Address</th><th></th><th></th></tr>
			  <tr *ngFor="let customer of customers" >
			    <td>{{customer.id}}</td> 
			    	<td>{{customer.name}}</td> 
			    		<td>{{customer.phone}}</td>
			    			<td>{{customer.address}}</td>
			  	<td><button type="button" (click)="loadCustomerToEdit(customer.id)">Edit</button> </td> 
				<td><button type="button" (click)="deleteCustomer(customer.id)">Delete</button></td>
			  </tr>
		</table>

 -->

 <div id="wrapper">
  <h1>Customers List and details</h1>
  
  <table id="keywords" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th><span>Id</span></th>
        <th><span>Name</span></th>
        <th><span>Phone</span></th>
        <th><span>Address</span></th>
      </tr>
    </thead>
    <tr *ngFor="let customer of customers" >
			    <td>{{customer.id}}</td> 
			    	<td>{{customer.name}}</td> 
			    		<td>{{customer.phone}}</td>
			    			<td>{{customer.address}}</td>
			  	<td><button type="button" (click)="loadCustomerToEdit(customer.id)">Edit</button> </td> 
				<td><button type="button" (click)="deleteCustomer(customer.id)">Delete</button></td>
			  </tr>
    </tbody>
  </table>
 </div> 

